<div>
  <% @blogs.each do |blog| %>
    <div class="index_container">
      <header class="index_header">
        <%= image_tag blog.user.user_image.url ,class: "index_icon" if blog.user.user_image.present?  %>
        <%= link_to "#{blog.user.name}", user_path(blog.user.id) %>
      </header>

      <body>
       <div class="index_image_area">
        <%= link_to blog_path(blog) do %>
         <%= image_tag blog.image.url, class: "blog_image" %>
        <% end %>
        </div>
       </body>
     </div>
   <% end %>
</div>
