<div>
  <% @blogs.each do |blog| %>
    <div class="index_container">
    <header class="index_header">
      <p><%= blog.user.name %></p>
    </header>

    <body>
      <div class="index_image_area">
       <%= image_tag blog.image.url %>
      </div>
    </body>
      <%= link_to '詳細', blog_path(blog.id),
                                      class: "btn btn-primary" %>
    </div>

  <% end %>
</div>