<div class="user_show clearfix">
  <p><%= @user.name %></p>
  <ul class="user_show_ul">
    <li>"投稿数"</li>
    <li>"ファボ数"</li>
    <li>"フォロー"</li>
  </ul>
  <div class="user_profile">
    <%= @user.profile %>
  </div>
</div>