.creat_user_form {
  float: right;
  background-color: #FFFFFF;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 60px;
  margin-top: 80px;
  margin-right: 8%;
  border: solid 0.1rem #C0C0C0;
  text-align: center;
}

.creat_user_form_title {
  padding-bottom: 30px;
  padding-top: 30px;
}

.input_name, .input_email, .input_password,
.input_re_password, .creat_submit {
  margin: 10px;
}

.go_to_loginform {
  border: solid 0.1rem #C0C0C0;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 500px;
  background-color: #FFFFFF;
  text-align: center;
  float: right;
}

.favo_page_h1{
  text-align: center;
}

.favo_page{
  display: inline;
}


.favo_page_image_area {
  margin-right: auto;
  margin-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 600px;
  display: inline;
}

.favo_image{
  width: 280px;
  height: 280px;
  object-fit: contain;
  padding: 10px;
}

.user_show {
  min-height: 100%;
  display: inline;
}


.user_data{
  margin-top: 80px;
  margin-right: 20%;
  float: right;
  text-align: left;
  flex-grow: 2;
  p {
    font-size: 2rem;
  }
}

.my_index_image_area{
  margin-right: auto;
  margin-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 600px;
  display: inline;
}

.user_profile{
  word-wrap: break-word;
  white-space: normal;
  display: block;
  width: 310px;
}

.user_edit{
  margin-top: 75px;
}

.user_edit_table{
  margin-right: auto;
  margin-left: auto;
  th,td{
    width: 80px;
    padding-bottom: 30px;
  }
}

.form_buttom{
  text-align: center;
}

.avater{
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.myblog_image{
  width: 280px;
  height: 280px;
  object-fit: contain;
  padding: 10px;
}

.user_image{
  float: left;
  margin-left: 20%;
  margin-top: 60px;
}

.user_date_show{
  margin-left: 50px;
}


.user_area{
  min-height: 300px;
}

#user_img_prev{
  width: 150px;
  height: 150px;
  object-fit: contain;
}